body {
    background-color: #fbf7ff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* FORM STYLES */

.topbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}

.formelement {
    padding: 5px;
}

.formelement label {
    display: inline-block;
    width: 100px;
    text-align: left;
}

.formelement input[type=submit]{
    float: right;
}

/* NOTES CARD STYLES */

.notecontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.note {
    position: relative;
    padding: 20px;
    margin: 15px 20px 10px 10px;
    border-radius: 10px;
    width: 240px;
    white-space: initial;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.noteComplete{
    background-color: #d0cbd1;
    color: #6d6a71;
}

.noteIncomplete {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.noteControls {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 5px;
}

.completeBtn {
    padding: 0px;
}

/* NOTES TEXT STYLES */

.noteTitle {
    font-weight: bold;
    margin-top: 20px;
}

.noteText {
    padding: 5px 0px 5px 0px;
}

.noteType {
    font-style: italic;
    text-align: right;
}

/* EDIT FOCUS STYLES */
.hide-edit{
    display: none;
}

.show-edit{
    position: absolute;
    z-index: 1;
    background-color:rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.editContainer {
    z-index: 2;
    width: 40vw;
    height: 40vh;
    background-color: white;
    position: relative;
}

.editButtonContainer {
    padding: 10px;
    position: absolute;
    bottom: 0;
}